<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="caDataAccessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <caDataAccessLayer.Properties.Settings>
            <setting name="dbHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="dbSID" serializeAs="String">
                <value>XE</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>EMA_ADMIN</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value>ema_admin</value>
            </setting>
        </caDataAccessLayer.Properties.Settings>
    </applicationSettings>
</configuration>